<div class="container">
        <div class="jumbotron banner shadow">
            <h1>DIGITAL xCHANGE</h1>
            <!-- <a  class="btn btn-primary">Transactions</a> -->
            <a id="balanceBtn" value="" class="btn btn-warning shadow">Balance: ₦<span id="balance"></span></a>
           <div>

               <input id="date-1" class="calendar">
           </div>
        </div>
            
    </div>