<div class="container">
        <div class="jumbotron banner">
            <h1>DIGITAL xCHANGE</h1>
            <!-- <a  class="btn btn-primary">Transactions</a> -->
            <a onclick="toggle(this)" id="balanceBtn" value="OFF" class="btn btn-primary">Balance: ₦<span id="balance"></span></a>
           <div>

               <input id="date-1" class="calendar">
           </div>
        </div>
            
    </div>