<div class="container outer-content">
    <div id="content" class="content">
        <%- include("./partials/messages") %>
        <div id="initial-row" class="row">
            <div id="transactionSummary" class="col-lg-12">
                    <%= transactionInfo %> 
            </div>
        </div>
    </div>
    <!-- <div class="glyph">
        <a href="" class="glyphicon glyphicon-plus" aria-hidden="true"> Add Recipient</a>
    </div> -->
    <div class=" submit submit-btn-wrapper">
        <button id="" class="button btn btn-sm btn-success"><a href="/dashboard">Back</a></button>
        <button id="displayTransact" class="button btn btn-sm btn-danger">Something Else</button>
    </div>


</div>
<div class="container ">
    <div class="row content info">
        <div id="transactionDate" class="col-md-2"><b>Transaction Date</b></div>
        <div id="transactionInfo" class="col-md-6"><b>Transaction Info</b></div>
        <div id="transactionAmt" class="col-md-2"><b>Transaction Amount</b></div>
        <div id="balance" class="col-md-2"><b>Current Balance</b></div>

    </div>
</div>