.banner {
    background-color: darkgreen !important;
    color: white !important;
    text-align: center;
}

.button, .btn {
  padding: 3px 5px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  /* background-color: #04AA6D; */
  border: none;
  border-radius: 5px;
  /* box-shadow: 0 1px #999; */
}

.transfer:hover {background-color: #3e8e41}

.cancel:hover {background-color: #960b0b}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.bal {
    text-align: center;
}
.calendar {
    color: white;
    background-color: darkgreen;
    width: auto;
    border: none;
    text-align: center;
}
/* .outer-content {
    display: flex;
} */
#profileIcon {
    width: auto;
    margin-left: 650px;
    justify-content: flex-end;
}
.logout {
    margin: 15px
}
.stuff {
    display: right;
}
.content {
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#refTop {
    text-align: center;
}
.replenish {
    justify-content: space-around;
}
.initial-row {
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.line {
    display: flex;
    justify-content: space-around;
}
.row.line {
    display: flex;
    justify-content: space-around;
    margin: 0px, 12% !important;
}
.content-group {
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.pass {
    background-color: rgb(170, 245, 170);
}
.warn {
    background-color: rgb(248, 248, 176);
}
.doom {
    background-color: rgb(248, 158, 158)(248, 172, 172);
}
.submit {
    margin: 10px;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.glyph {
    display: block;
    text-align: right;
    /* justify-content: flex-end; */
}
.button {
    margin: 10px;
}
.lables {
    display: none;
}
.info {
    display:flex;
    margin: auto;
    line-height: 16px;
    /* font-weight: 900; */
    font-size: medium;
    text-align: center;
}
.info2 {
    display:flex;
    margin: auto;
    line-height: 16px;
    /* font-weight: 900; */
    font-size: medium;
    text-align: center;
}
input.inputBox {
    text-align: right;
}

#title {
    width: 12%;
    height: 4%;
}
.container.flex-container {
    display: flex;
    margin: auto;
    /* align-items: center; */
}
#dashBtnGroup {
    justify-content: flex-end;
    margin: auto;
}
#phoneOne {
    display: none;
}
.hiddenContent {
    display: none;
}
#worth {
    display: none;
}

#initialRow {
    display: block;
}
.profileContainer {
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: small;
    margin-bottom: 10px;
}
.profileTop {
    margin: auto;
    justify-content: center;
    margin-bottom: 20px;
}
.profileMain {
    text-align: center;
    margin: auto;
    padding: 20px 10px;
    background-color: rgb(240, 236, 236);
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    border-radius: 5%;
    width: 60%;    
}

img {
  width:200px;
  height:200px;
  background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
  border-radius: 15%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.row.content.info {
    display: none
}
div.row.content.info2 {
    display: none
}
/* div#summaryInfo {
    display: flex;
    justify-content: space-around;
    margin: 0px, 12% !important;
}
div#transaction_summary {
    display: flex;
    justify-content: space-around;
    margin: 0px, 12% !important;
}
div#transactInfoHead {
    display: flex;
    justify-content: space-around;
    margin: 0px, 12% !important;
} */
#balance {
    display: none;
}

.elegant {
    color: #3e8e41
}

.elegant2 {
    color: red
}

.shadow {
    box-shadow: 2.0px 4.0px 4.0px hsl(0deg, 0% 0% / 0.44);
}